* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background:
        radial-gradient(circle at top, #334d7a, #111827 70%);
    color: white;
    font-family: "Segoe UI", Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}


.game {
    width: 500px;
    padding: 35px;

    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(20px);

    border-radius: 30px;

    border: 1px solid rgba(255,255,255,0.2);

    box-shadow:
        0 25px 80px rgba(0,0,0,.6),
        inset 0 0 30px rgba(255,255,255,.05);

    text-align: center;
}



/* TITLE */

h1 {

    font-size: 42px;

    margin-bottom: 25px;

    background:
    linear-gradient(
        90deg,
        #ffe259,
        #ffa751
    );

    -webkit-background-clip:text;
    color:transparent;

    text-shadow:
    0 0 20px rgba(255,200,0,.5);
}



/* COIN DISPLAY */

h2 {

    font-size: 55px;

    margin: 10px 0;

}


#coins {

    color:#35ff9a;

    text-shadow:
    0 0 20px #35ff9a;

}


#power {

    color:#4dc9ff;

}



/* MESSAGE */

#message {

    margin:20px 0;

    padding:15px;

    background:#18263b;

    border-radius:15px;

    font-size:18px;

}



/* UPGRADE */

#upgrade {

    margin-top:25px;

    padding:25px;


    background:
    linear-gradient(
        135deg,
        #ffb300,
        #ffdd55
    );


    color:#111;


    border-radius:20px;


    font-size:20px;

    font-weight:800;


    box-shadow:

    0 0 30px rgba(255,190,0,.6);


    transition:.3s;

}


#upgrade:hover {

    transform:scale(1.05);

}



/* ACHIEVEMENTS */

h3 {

    margin-top:35px;

    font-size:24px;

    color:#ffd700;

}


ul {

    padding:0;

}


li {

    list-style:none;

    margin:10px 0;


    padding:14px;


    background:

    rgba(255,255,255,.12);


    border-radius:15px;


    border-left:

    5px solid gold;


    transition:.2s;

}


li:hover {

    transform:translateX(8px);

    background:

    rgba(255,255,255,.2);

}



/* FLOATING COINS */

.coin {

    position:absolute;


    color:#ffe600;


    font-size:32px;


    font-weight:bold;


    pointer-events:none;


    animation:

    float 1s ease-out forwards;


    text-shadow:

    0 0 20px gold;

}



@keyframes float {


0% {

opacity:1;

transform:
translateY(0)
scale(1);

}



100% {


opacity:0;


transform:

translateY(-150px)

scale(1.8);


}


}